.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Ignore Eclipse output directory & files
bin/
.classpath
.project
.settings

# IntelliJ
out/
*.idea
*.iml

# Installed node_modules for tsc.
node_modules/
